header{
	background-color: #171717;
	color:#bababa;
	overflow: hidden;
	padding: 20px;
}

h1{
	margin:0;
}

body{

	font-family: arial;
	font-size: 14px;
	margin:0;
	background-color: white;
}
a{
	text-decoration:none;
	color:black;
}

header a {
	color:#bababa;
	display: block;
	padding: 5px;
}
header a:hover {
	background-color: #bababa;
	color:#171717;
}
header h1 {
	margin:0;
	color:#bababa;
	float: left;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size:contain;
	padding-left: 75px;
	font-weight: 700;
	font-size: 28px;
}
header ul {
	padding: 0;
	margin:0;
	text-align: right;
}
/*header img{
	float:left;
	padding:2px;
}*/
header ul li{
	display: inline-block;/*esta propiedad junta las dos mejores propiedades de inline y block, muestra una caja al lado de la otra*/
}

header nav{
	float: right;
}
footer{
	background-color: black;
}

img{
	display: block;
	width: 100%;
}
#noticia-destacada{
	width: calc(100vw *3);
	overflow: hidden;
	background-color: #171717;
	position: relative;
	animation: 15s slider infinite;/*tiempo | nombre del animacion que quiero usar (keyframes) | como quiero que se repita*/
}
#noticia-destacada figure{
	width: 100vw;
	float: left;
}
#noticia-destacada h2{
font-size:42px;
font-weight: 600;
background-color: #171717;
padding: 15px;
color: #fff;
}


/*animaciones css*/
@keyframes slider{
	0%{
		left:0;
	}
	20%{
		left: 0;
	}
	40%{
		left: -100vw;
	}
	60%{
		left:-100vw;
	}
	80%{
		left:-200vw;
	}
	100%{
		left:0;
	}

}